body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/*header*/
nav{
    width: 100%;
    height: 130px;
    position: fixed;
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 150px;
    margin: 0 0 0 10px;
}

#mainMenu{
    width: 80%;
    flex-flow: row;
    display: flex;
    justify-content: end;
    margin: 0;
}

#mainMenu ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10px 0 0;
}

nav a{
    text-decoration: none;
    color: rgb(45, 44, 44);
    font-weight: 700;
}

#dropdown button{
    border: none;
    background-color: white;
    color: rgb(45, 44, 44);
    font-weight: 700;
}

nav a:hover, #dropdown button:hover{
    color: #FF4B63;
}

#dropdownMenu{
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(83, 81, 81);
    display: none;
    min-width: 200px;
    padding: 10px;
}

#dropdownMenu a{
    display:block;
    padding: 10px;
}

#dropdown:hover #dropdownMenu{
    display: block;
}

button#download{
    background-color: white;
    border-radius: 30px;
    border: 3px solid #FF4B63;
    color: #FF4B63;
    font-weight: 700;
    padding: 5px 30px;
}

button#download:hover{
    background-color: #FF4B63;
    color: white;
}

#mobileMenuDropdown{
    color: #FF4B63;
    border: 3px solid #FF4B63;
    border-radius: 5px;
    display: none;
}

